.site-footer {
  background-color: transparent;
  border-top: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*footer-headings' :focus state*/
.site-footer .btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: unset;
}

.site-footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  align-items: center;
  justify-items: center;
}

.site-footer img {
  max-height: 50px;
}

.site-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-headings {
  font-family: "Lexend";
  font-weight: 900;
}

.collapse-button {
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-family: "Lexend";
  font-weight: 900;
  padding: 0;
}

.footer-menu-items {
  margin-top: 16px;
}

.footer-menu-items.show {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-menu-items .dropdown-item {
  color: var(--text-color);
  font-family: "Lexend";
  font-size: 16px;
  font-weight: 700;
  padding: 0;
}

.footer-menu-items .dropdown-item:hover {
  background-color: transparent;
  color: var(--text-color);
  text-decoration: underline;
}
.footer-headings p {
  margin-top: 16px;
}

.site-footer a {
  text-decoration: none;
  font-family: "Lexend";
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color);
}

.site-footer ul li a:hover {
  color: var(--text-color);
}

/* Login icon*/
.site-footer .circle-icon {
  width: 14px;
}

.site-footer .circle-container:hover svg {
  color: transparent;
  stroke: var(--text-black);
  stroke-width: 3px;
  border-radius: 8px;
}

/* Newsletter */

.footer-newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.site-footer input {
  font-family: "Lexend";
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  background-color: transparent;
  border: 0 none transparent;
  border-bottom: 2px solid black;
  padding: 4px 0;
}

.site-footer input::placeholder {
  font-weight: 400;
}

.site-footer input:focus {
  outline: none;
}

@media (max-width: 768px) {
  .site-footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .site-footer-content {
    grid-template-columns: 1fr;
  }
}
