.navbar {
  background-color: transparent;
  height: var(--header-height);
  border-bottom: 2px solid black;
  font-family: "Slibinas";
}

/* Title Behind the Thread */
.navbar h1 {
  color: var(--text-black);
  font-size: 35px;
  margin-bottom: 0;
}

.navbar h1 a {
  text-decoration: none;
  color: var(--text-black);
}

/* Menu and Contacts */
.navbar button,
.header-contact-link {
  border: none;
  background-color: transparent;
  color: var(--text-black);
  font-size: 25px;
}

.header-contact-link {
  color: var(--text-black);
  text-decoration: none;
}

.header-contact-link:hover {
  color: var(--text-black);
  text-decoration: underline;
}

.navbar button:hover,
.navbar button:focus,
.header-contact-link:focus {
  color: var(--text-black);
}
