.button-center {
}

.plus-button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transform-origin: center;
}

.plus-icon {
  display: block;
  width: clamp(72px, 10vw, 100px);
  transition: transform 0.2s ease;
  transform-origin: center;
}

.plus-button:hover .plus-icon {
  transform: rotate(90deg);
}

.plus-button.open .plus-icon {
  transform: rotate(0deg) translateY(clamp(20px, 3vw, 30px));
}
