html,
body,
#root {
  min-height: 100vh;
}

body {
  margin: 0;
}

#root,
#root > div {
  display: flex;
  flex-direction: column;
}

#root > div {
  background: var(--bg);
  min-height: 100vh;
}

main {
  flex: 1;
}

.navbar {
  background-color: transparent;
  height: 131px;
  border-bottom: 2px solid black;
}

.site-footer {
  background-color: transparent;
}

.site-footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  align-items: start;
}

.navbar div,
.navbar h4 {
  font-family: "Slibinas";
}

.dropdown-menu {
  width: 100%;
  text-align: center;
  background-color: var(--bg);
  border: none;
}

h1 {
  font-size: 44px;
  /*TODO: VERIFICAR FONT SIZE; se for este, é necessárion fazer media queries para ajustar o tamanho da letra em ecrãs menores.*/
}

button {
  border: none;
  background-color: transparent;
  font-size: 33px;
}

li a {
  font-size: 44px;
}

li a:hover {
  text-decoration: underline; /*TODO: confirmar se querem este underline no hover; coloquei por falta de informação no figma*/
  transition: 0.3s;
  background-color: none;
}

.dropdown-item:hover {
  background-color: transparent;
}

/* Footer styles */

.footer-headings {
  font-family: "Lexend";
  font-weight: 900;
}

footer {
  border-top: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer img {
  max-height: 50px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-headings ul,
.footer-headings p {
  margin-top: 16px;
}

footer ul li a {
  text-decoration: none;
  font-family: "Lexend";
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color);
}

footer ul li a:hover {
  color: var(--text-color);
}

footer div p {
  font-family: "Lexend";
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  text-decoration: underline;
  /*TODO: underline é mais longo do que a largura do p */
}

@media (max-width: 768px) {
  .site-footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .site-footer-content {
    grid-template-columns: 1fr;
  }
}
