html,
body,
#root {
  min-height: 100vh;
  font-family: "Lexend", system-ui, sans-serif;
}

body {
  margin: 0;
}

#root,
.root-layout {
  display: flex;
  flex-direction: column;
}

.root-layout {
  background: var(--bg);
  min-height: 100vh;
}

main {
  flex: 1;
}
