.page-basededados {
  /* Gradientes */
  background-image: url(/gradients/baseDados_center-top.svg);
  background-size: clamp(65%, 55vw, 120%);
  background-repeat: no-repeat;
  background-position: center top;
}

/* Gradientes */
.page-basededados .section-espacos {
  background-image: url(/gradients/baseDados-espacos_center.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 62%;
}
/* Gradientes */
.page-basededados .section-ferramentas {
  background-image: url(/gradients/baseDados-ferramentas_center.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* Gradientes */
.page-basededados .section-conteudos {
  background-image: url(/gradients/baseDados-conteudos_center.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.page-basededados .last-p {
  font-size: clamp(16px, 2.4vw, 20px);
  font-weight: 700;
  padding: 50px 30% 0 30%;
  text-align: center;
}

.page-basededados .center-button {
  text-align: center;
  padding: 0px 0 40px 0;
}

.page-basededados .base-dados-status,
.base-dados-page .base-dados-status {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
