.page-basededados {
  /* Gradientes */
  background-image: url(/gradients/baseDados_center-top.svg);
  background-size: clamp(65%, 55vw, 120%);
  background-repeat: no-repeat;
  background-position: center top;
}

.page-basededados .last-p {
  font-size: clamp(16px, 2.4vw, 20px);
  font-weight: 700;
  padding: 50px 30% 0 30%;
  text-align: center;
}

.page-basededados .center-button {
  text-align: center;
  padding: 0px 0 40px 0;
}

/* .section-fornecedores {
  background-image: url(/gradients/baseDados-fornecedores_center.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
} */
