.espacos-detail-table {
  width: 100%;
  min-width: 640px;
  table-layout: fixed;
  border-collapse: collapse;
  background-image: url(/gradients/baseDados-espacos_center.svg);
  background-size: clamp(100%, 90vw, 190%);
  background-repeat: no-repeat;
  background-position: center center;
}

.align-button {
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px 20px 0;
}

.align-button a {
  text-decoration: none;
}

.espacos-detail-table th {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  padding: 15px 0 15px 0;
  border: 2px solid var(--text-black);
}

.espacos-detail-table td {
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  word-break: normal;
  overflow-wrap: break-word;
}

.espacos-detail-table td a {
  text-decoration: none;
  color: var(--text-black);
  font-weight: 500;
}

.espacos-detail-table td a:hover {
  text-decoration: underline;
  color: var(--text-black);
  font-weight: 700;
}
