.page-dirtytalks {
  /* Gradientes */
  background-image: url(/gradients/dirtyTalks_center-top.svg);
  background-size: clamp(10%, 45vw, 120%);
  background-repeat: no-repeat;
  background-position: center top;
}
