@import "../../styles/conteudo-html.css";

.container {
  position: relative;
  text-align: center;
}

.sq-btn-title {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.conteudo-detail-actions {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}
