.page-misturas {
  /* Gradientes */
  background-image: url(/gradients/contactos-center_top.svg); /*Misturas fica muito para baixo*/
  background-size: clamp(100%, 90vw, 100%);
  background-repeat: no-repeat;
  background-position: center top;
}


#misturas-form {
  padding: 0 20px 64px;
}

#misturas-form .collab-form {
  width: 80vw;
  max-width: 80vw;
  margin-inline: auto;
  text-align: left;
}

#misturas-form .collab-form__field input {
  width: 100%;
}
