.page-misturas {
  /* Gradientes */
  background-image: url(/gradients/contactos-center_top.svg); /*Misturas fica muito para baixo*/
  background-size: clamp(100%, 90vw, 100%);
  background-repeat: no-repeat;
  background-position: center top;
}

#misturas-form {
  padding: 0 20px 64px;
}

#misturas-form .collab-form {
  width: 80vw;
  max-width: 80vw;
  margin-inline: auto;
  text-align: left;
}

#misturas-form .collab-form-field input {
  width: 100%;
}

.misturas-grid {
  border-top: 2px solid var(--text-black);
}

.misturas-grid-link {
  display: block;
  text-decoration: none;
  border-right: 2px solid var(--text-black);
  border-bottom: 2px solid var(--text-black);
}

.misturas-grid-link:nth-child(3n) {
  border-right: unset;
}

.misturas-status {
  padding: 32px 20px 72px;
  text-align: center;
}
