.page-misturas {
  /* Gradientes */
  background-image: url(/gradients/misturas-center-top.svg);
  background-size: clamp(100%, 90vw, 180%);
  background-repeat: no-repeat;
  background-position: center top;
}
